body {
font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
text-align: center;
z-index: 1;
background-color: black;
width: 100%;
height: 100dvh;
overflow: hidden;;
}

html {
    height: 100vh;
    }

/* Add a main container to scale content safely */
.love-container {
    /* Combined scale and translate to resize and position the container */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;
      
}
h1 {
    position: absolute;
    top: 10%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
    
}
h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
    
}

h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
}
h4 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
}
h5 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
}
p {
color: #7c0000;
position: absolute;
top: 200px;
left: 0%;
bottom: 50%;
padding: 20px 8%;
display: flex;
align-items: center;
justify-content: center;
z-index: 2;
overflow: visible;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
    

.Heart{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    right: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sleeptoken-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: transparent;
}
.adtr-container {
    position: absolute;
    bottom: 20px;
    left: 43%;
    z-index: 999;
    color: transparent;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: inline-block;
    box-sizing: border-box;      
}
body {
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    color: #7c0000;
}
 nav {
    background: transparent;
    height: 80px;
    width: 100%;
 }   
 label.logo {
    color: #7c0000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    font-weight: bold;
 }
nav ul{
    float: center;
    left: 60px;;
 }

    @viewport {
        width: device-width;
        zoom: 1.0;        
    } 
    @-webkit-viewport {
        width: device-width;
    }


