*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: black;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    color: #7c0000;    
}
nav{
    background-color: rgba(0,0,0,0.1);
    border-bottom: 1px solid var(--hover-color);
    
    
}
nav.show{
    right: 0;
}
nav.show ~ #overlay{
    display: block;
}
nav ul{
    list-style: none;
    display: flex;
}
nav .home-li{
    margin-right: auto;
}
nav li{
    display: flex;
}
nav a{
    display: flex;
    text-decoration: none;
    color: var(--text-color);
    padding: 1em 2em;
}

nav a:hover{
    background-color: var(--hover-color);
}
nav a.active-link{
    border-bottom: 2px solid var(--text-color);
}
nav a.accent-link{
    background-color: var(--accent-color);
}
#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}
#close-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
}
#overlay{
    background: rgba(0,0,0,0.5);
    position: fixed;
    inset: 0;
    z-index: 9;
    display: none;
}
#heart video {
    height: 100vh;
    width: 100%;
    background-position: center;
    z-index: 10;
    object-fit: cover;
}

h1 {
    background: transparent;
    position: flex;
    align-items: flex;
    transform: translate;
    font-size: 2.5rem;
    text-align: center;
    padding-top: 1%;
}

.specialText {
  position: absolute;
  top: 60%;
  left: 35%;
  z-index: 1;
  padding-right: 2%;
  
}
.smileText{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    padding-right: 5%;
}
.laughText{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    padding-right: 5%;

}
.compassionText{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    padding-right: 5%;
}

.loveText{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    padding-right: 5%;
}
.attitudeText{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    padding-right: 5%;
}
.smellText{
    position: absolute;
    top: 40%;
    left: 10%;
    z-index: 1;
    padding-right: 5%;
}
#toptext {
  color: #7c0000;
  font-size: 15px;
  align-self: center;
}




/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 34rem){
    #open-sidebar-button, #close-sidebar-button{
        display: block;
    }
nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-out;
    }
nav.show{
    right: 0;
    }
nav ul{
    width: 100%;
    flex-direction: column;
    }
nav a{
    width: 100%;
}
nav a.active-link{
    border-bottom: none;
}
nav .home-li{
    margin-right: unset;
}
h1 {
    font-size: 16px;
    padding-top: 1%;
}
#heart video {
    height: 100vh;
    width: 100%;
    background-position: center;
    z-index: 10;
    object-fit: cover;
}
.specialText {
  position: absolute;
  top: 60%;
  left: 35%;
  z-index: 1;
  padding-right: 2%;
  font-size: 16px;
  
}

}





