body {
font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
text-align: center;
z-index: 1;
background-color: black;
width: 100%;
height: 100dvh;
overflow: hidden;;
}

html {
    height: 100vh;
    }

/* Add a main container to scale content safely */
.love-container {
    /* Combined scale and translate to resize and position the container */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    object-fit: cover;
    position: relative;
      
}
h1 {
    position: absolute;
    top: 10%;
    left: 52%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
    
}
h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
    
}

h3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
}
h4 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
}
h5 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-40%, -50%);
    z-index: 2;
    color: #7c0000;
    font-size: 3rem;
    background-color: transparent;
    mix-blend-mode: screen;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    text-transform: uppercase;
    text-align: center;
    word-break: break-all;
}
p {
color: #7c0000;
position: absolute;
top: 200px;
left: 0%;
bottom: 50%;
padding: 20px 8%;
display: flex;
align-items: center;
justify-content: center;
z-index: 2;
overflow: auto;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: inline-block;
    height: 600px;
    width: 100%;
    position: sticky;
    top: 25px;
    background-color: transparent;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: none;
    z-index: 999;
    font-family: "Lucida Calligraphy", "Brush Script MT", cursive, sans-serif;
    font-size: 1rem;
    color: #7c0000;
    text-align: center;
    word-break: break-word;
    display: inline-block;
    right: 20%;
    
}
.navbar-container {
    display: inline;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
    max-width: 1200px;
    z-index: 999;
    
    
}
.navbar-container .navbar-menu {
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
    
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: #7c0000;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover {
    color: #000000;
    background-color: #7c0000;
    border: 2px solid #8d0000;
}
.navbar-toggle {
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #7c0000;
    margin: 5px auto;
    background: black
    transition: all 0.3s ease-in-out;
}

    

.Heart{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    right: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.sleeptoken-container {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: transparent;
}
.adtr-container {
    position: absolute;
    bottom: 20px;
    left: 43%;
    z-index: 999;
    color: transparent;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-none;
}
@media screen and (max-width: 360px) and (max-width: 420px) {
}


    .navbar-container {
        padding: 0 1rem;
    }
    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }   

    )
}
@media (max-width: 880px) {
    .navbar {
        backdrop-filter: none;
    }
    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 5rem 1.5rem;
        box-shadow: 0 10px 10px black;
        backdrop-filter: none;
    }
    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    @viewport {
        width: device-width;
        zoom: 1.0;        
    } 
    @-webkit-viewport {
        width: device-width;
    }

    
}

